#contenedor {
    float: left;
    width: 804px;
    margin-left: 24%;
    }
    
    #tabla1 {
    float: left;
    width: 400px;
    }
    
    #tabla1 table {
    text-align: center;
    }
    
    #tabla1 table tr td {
    width: 100px
    }
    
    #tabla2 {
    float: left;
    width: 400px;
    }
    
    #tabla2 table {
    text-align: center;
    }
    
    #tabla2 table tr td {
    width: 100px
    }
    